<!DOCTYPE html>
<html>

<head>
   <link rel="icon" href="/pictures/DB.png">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <%- include('partials/nav') %>

    <div class="container mt-4">
      <h1>Bem-vindo ao Nino!</h1>

      <h3>Sobre o projeto</h3>
      <p>Este projeto busca ajudar pessoas, principalmente os jovens estudantes, a lidarem com a ansiedade e as dificuldades que se encontram na escola, com destaque no ensino médio e no ensino superior, de uma forma leve, divertida e com certa prontidão.</p>

      <h3>Objetivo</h3>
      <p>Esta plataforma busca trazer equilíbrio em forma de autoajuda e diversão, através de itens como os diários, check-ins e algumas informações sobre o que é a ansiedade e as formas de lidar com este estado emocional, principalmente em momentos de crise.</p>

      <h3>Tecnologias utilizadas</h3>
      <p style="color:darkcyan;">Foi utilizado para este projeto:</p>
      <p style="color:darkcyan;">Node.js para a estruturação da lógica;</p>
      <p style="color:darkcyan;">Firebase para o armazenamento de dados necessários na nuvem.</p>
      <p style="color:darkcyan;">Bootstrap, HTML, CSS, entre outros.</p>

      <h3>Funcionalidades</h3>
      <p>Pensamos em utilizar, além de algumas idéias básicas sobre neurociência e psicologia, um mascote, para que o usuário se divirta com ele; uma suposta parede para colar post-its com lembretes ou o que o usuário quiser escrever nele; um calendário; e uma página de dicas, para que o usuário saiba lidar com a ansiedade quando ela vier bater à porta; além da central de ajuda, onde está contido os números de telefone para falar com pessoas profissionais na área, em caso de extrema urgência.</p>

      <h3>Estrutura do projeto</h3>
      <p>Pensamos o projeto numa organização baseada em MVC (Model, View e Controller), que também contará com outras pastas, como "public" para arquivos estáticos, por exemplo as fotos necessárias para este projeto.</p>

      <h3>Como executar</h3>
      <p>Para executar o projeto em Localhost (servidor local - do computador), é necessário seguir as seguintes instruções:</p>
      <p style="color:darkcyan;">Abrir o projeto;</p>
      <p style="color:darkcyan;">Em "Terminal", digite: "npm install";</p>
      <p style="color:darkcyan;">Após isso, digite: "node app.js";</p>
      <p style="color:darkcyan;">Então, entre no link, que será algo como: "http://localhost300";</p>
      <p style="color:darkcyan;">Com isso, o projeto estará sendo executado num servidor local, apenas para teste, porém com todas as funcionalidades.</p>

      <h3>Deploy</h3>
      <p>Link do Vercel: https://pi-nino-2.onrender.com</p>

      <h3>Aplicativo Mobile</h3>
      <p style="color:darkcyan;">Para testar nossa versão em aplicativo para celular, basta:</p>
      <p style="color:darkcyan;">Entrar no link "";</p>
      <p style="color:darkcyan;">Clicar no projeto, chamado Nino;</p>
      <p style="color:darkcyan;">Então, clicar em "Export";</p>
      <p style="color:darkcyan;">Em seguida, em "Android App (.apk)";</p>
      <p style="color:darkcyan;">A partir daí, seguir com o procedimento e seguir abilitando as permissões que se pede.</p>

      <h3>Integrantes</h3>
      <p>Vitória Magaldi</p>
      <p>Vitor Moraes</p>
      <p>Otávio Lima</p>
      <p>Letícia Fernandes</p>
      <p>Gustavo Hirayama</p>
      <p>Gabriel Luis</p>

      <h3>Pitch - resumo</h3>
      <p>Em vista do número de jovens com ansiedade e depressão crescendo a cada dia, o aplicativo Nino busca trazer uma forma de ajuda para os estudantes e jovens encontrarem equilíbrio emocional durante seu dia a dia de uma maneira leve, divertida e organizada, com a possibilidade de uma chamada urgente a algum centro especializado nesse assunto, se necessário.</p>

      <h3>Links importantes</h3>
      <p>Github: https://github.com/GabrielLuis15/PI---Nino</p>
      <p>Vercel: https://pi-nino-2.onrender.com</p>


    </div>

    <%- include('partials/footer') %>

</body>

</html>